# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.metadata/*
GuyJavaCrypto/src/javacryptob/Main.java
GuyJavaCrypto/.classpath
GuyJavaCrypto/.project
GuyJavaCrypto/.settings/org.eclipse.jdt.core.prefs
GuyJavaCrypto/src/javacrypto/Encrypt.java
GuyJavaCrypto/src/javacrypto/Main.java
GuyJavaCrypto/src/javacryptob/Decrypt.java
JavaCrypto/src/mta/security/java/crypto/CipherProvider.class
JavaCrypto/src/mta/security/java/crypto/Decryptor.class
JavaCrypto/src/mta/security/java/crypto/Encryptor.class
JavaCrypto/src/mta/security/java/crypto/FileProvider.class
JavaCrypto/src/mta/security/java/crypto/FileProvider.java
JavaCrypto/src/mta/security/java/crypto/FileProvider.java
JavaCrypto/src/mta/security/java/crypto/KeyProvider$1.class
JavaCrypto/src/mta/security/java/crypto/KeyProvider.class
JavaCrypto/src/mta/security/java/crypto/SecretKeyHolder.class
*.class
JavaCrypto/Security.jar